.linkCard {
	color: black;
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	background-color: var(--palletteWhite);

	width: 20%;
	min-width: 250px;
	min-height: 50px;

	padding: 10px;
	margin: var(--marginSmall);

	text-decoration: none;

	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	text-align: center;
	opacity: 0;
}

.linkCard :global {
	animation: fadeIn 1.5s forwards;
	animation-delay: 0.1s;
}

.linkCard:hover {
	font-weight: 700;
	font-size: 1.2rem;
	background-color: var(--palletteAccentDark);
	/* text-decoration: underline; */
	color: white;

	/* flex-grow: 1; */
	/* color: white; */
}

@media only screen and (max-width: 768px) {
	.linkCard {
		padding: 5px 10px;
		margin: var(--marginXSmall);
	}
}
