:root{
  --palletteWhite: #f7f6f6;
  --palletteAccentLight: #c94473;
  --palletteAccentDark: #7f8692;
  --pallettePrimary: #4272b2;
  --pallettePrimaryDark: #183045;

  --bgColor: #183045;

  --infoColor: #183045; 
  --successColor: #499d6d;
  --warningColor: #c68d35;
  --errorColor: #f44336;

}
body{
  background-color: var(--bgColor);
  font-family: Gotham A,Gotham B,sans-serif;
}