.crimeTitle {
    color: var(--pallettePrimary);
}

.crimeCard{
    width: fit-content;
		padding: var(--paddingSmall);

		margin: var(--marginSmall);

}

@media only screen and (max-width: 768px) {
	.crimeCard {
		padding: 5px 10px;
		margin: var(--marginXSmall);
	}
}